@media (max-width:991px)
{
    /*custom css*/
    section
    {
        padding: 30px 0;
    }
    h2
    {
        font-size: 30px;
        line-height: 40px;
    }
    h3
    {
        font-size: 20px;
    }
    /*2 navbar*/
    .header-scrolled
    {
        height: auto;
    }
    .header_wrapper .menu-navbar-nav
    {
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: 15px;
    }
    .header_wrapper .nav-item .nav-link
    {
        margin-top: 15px;
    }
    /*----banner wrapper-----*/
    .banner_wrapper
    {
        padding:200px 0 ;
    }
    /*about*/
    /*portfolio*/
    
}
@media (max-width:767px)
{
    /*custom css*/
    h1
    {
        font-size: 40px;
        line-height: 40px;
    }
    h2
    {
        font-size: 25px;
    }
    p
    {
        font-size: 13px;
        line-height: 24px;
    }
    /*about*/
    /*portfolio*/
}