/*TABLE OF CONTENTS*/
/*-----------
1.General
2.navbar
3.banner
4.about
5.Services
6.Contact
7.Footer
-------*/
/* 1.general*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900& display=swap');
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root
{
    /*background color*/
    --primary-color:#FD4766;
    --secondary-color:#0e1525;
    --bg-dark-blue:#091020;
    --bg-white:#fff;
    --gray-clor:#c6c9d8bf;
    --gradient-color:linear-gradient(-224deg,var (--primary-color) 0,#337DFF 100%);
    --gradiant-text:linear-gradient(120deg,#1c99FE 20.69%, #7644FF 50.19%,var(--primary-color)79.69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= 'var(--primary-color)' , endColorstr='var(--secondary-color)',GradientType=1);
    /* Text color*/
    --primary-font:'Poppins', sans-serif;
    --primary-text:#FD4766;
    --text-gray:#c6c9d8bf;
    --text-white:#fff;
}
body
{
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
}
a
{
    text-decoration: none;
}
/*1 custom css*/
::-webkit-scrollbar
{
    width: 6px;
}
::-webkit-scrollbar-track
{
    background: var(--bg-dark-blue);
}
::-webkit-scrollbar-thumb
{
    background: var(--primary-color);
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}
section
{
    padding: 50px 0;
}
.main-btn
{
   display: inline-block;
   border-radius: 50px;
   transition: all .4s ease-in-out;
   padding: 10px 27px; 
   background-color: transparent;
   border: 2px solid var(--gray-clor);
   color: var(--text-gray);
   font-weight: 500;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 2px;
   text-decoration: none;
}
.main-btn
{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
}
h1
{
    font-size: 54px;
    line-height: 68px;
    font-weight: 800;
    color: var(--text-white);
    margin-bottom: 20px;
}
h1 span
{
    color: var(--primary-color);
}
h2
{
    font-size: 50px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 15px;
}
h3
{
    
    font-size: 20px;
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 19px;
}
h6
{
    
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    font-weight: 600;
    color: var(--text-gray);
    margin-bottom: 20px;
}
p
{
    color: var(--text-gray);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400;
}
.subtitle
{
    display: inline-block;
    font-weight:600 ;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size:16px;
    margin-bottom: 12px;
    background-color: var(--gradient-color);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
input:hover,input:focus,textarea:focus,textarea:hover,button
{
    outline: none !important;
    box-shadow: none !important;
}
/*2 Navbar */
.header_wrapper .navbar
{
    padding: 15px 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.header_wrapper .navbar img
{
    max-width: 120px;
    height: auto;
}
.header_wrapper .navbar-toggler
{
    border: 0;
    color: var(--gray-color);
    line-height:2;
}
.header_wrapper .navbar-toggler:focus
{
    box-shadow: none;
}
.header_wrapper .nav-item
{
    margin:0 10px ;
}
.header_wrapper .nav-item .nav-link
{
    margin:0 10px ;
    position: relative;
    font-size:16px ;
    font-weight: 500;
    color: var(--text-gray);
    display: inline-block;
}
.header_wrapper .nav-item .nav-link::after
{
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: 0.3s;
    bottom: 0;

}
.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after
{
    width: 100%;
}
.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover
{
    color: var(--text-white);
}
.header-scrolled
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-dark-blue);
    -webkit-box-shadow:0 4px 6px 0 rgba(12, 0,46,05);
    box-shadow: 0 4px 6px 0 rgba(12, 0,46,05);

}
.header_scrolled .nav-item .nav-link.active,
.header_scrolled .nav-item .nav-link:hover
{
    color: var(--primary-color);
}
/* 3 banner*/
.banner_wrapper
{
    width:100%;
    height: auto;
    min-height: 1000px;
    background-image: url('../images/bg-image.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment:fixed;
    padding:200px 0 100px 0;
}
